body {
    background-color: #b91450;
}
.section-title h1 {
    color: white;
    text-align: center;
}
.ticket-generator {
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 40px 3px #000000;
    -moz-box-shadow: 5px 5px 40px 3px #000000;
    -o-box-shadow: 5px 5px 40px 3px #000000;
    box-shadow: 5px 5px 40px 3px #000000;
}
.ticket-generator .form-label {
    color: #b91450;
}
.ticket-generator .customer-name {
    text-align: center;
}

.ticket-generator button {
    color: #b91450;
    font-weight: bold;
    font-size: 18px;
    background-color: #cccccc;
    border: 1px solid grey;
    border-radius: 5px;
}
.final-ticket .container-fluid{
    background-color: white;
    -webkit-box-shadow: 5px 5px 40px 3px #000000;
-moz-box-shadow: 5px 5px 40px 3px #000000;
-o-box-shadow: 5px 5px 40px 3px #000000;
box-shadow: 5px 5px 40px 3px #000000;
}
.final-ticket .col-4{
    background-color: grey;
}
.final-ticket .container-fluid .row {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: center;
}
.final-ticket h3 {
    font-weight: 900;
}